button{
    width: 50%;
    margin-bottom: 20px;
}
#input{
    width: 80%;
    margin-bottom: 10px;
}
@media(min-width:768px){
    button{
        width: 13%;
    }
    #input{
        display: flex;
        width: 40%;
       
    } 
}